[{:name "Elf Longbow", :description "The elf longbow is designed to hold\nspecial arrows that are difficult to remove. The\nconstruction is designed to be used by weaker but\nmore dexterous elves.", :Tech 9, :Damage "13", :Ammo 1, :Range "25/40/80", :Price "1000 (15)", :Notes "Min Str 7, Wounding"} {:name "Fey Bow", :description "A fey bow causes arrows fired from it to\ntransform into energy. These are the most common:\n• Brownie bow: Deals 11 fire damage.\n• Cyprium bow: Deals 11 lightning damage (AP 4)\n• Solium bow: Deals 11 force damage and\ncharacters who take damage from the bow are\nStymied.", :Tech 9, :Damage "varies", :Ammo 1, :Range "20/50/180", :Price "10K (20)", :Notes "Arcane, Min Str 6, Deals energy damage, see text"}]