[{:name "Dumb Luck"
  :Cosm "Any"
  :Prereq "Human"
  :type "HUMAN"
  :description
  "Some humans are just born lucky, and this
character is one of them. When an opponent
spends a Possibility on a test targeting or opposing
this character, there is no minimum value of 10 for
the added die. The same effect applies to any other
targets of the same roll."}
 {:name "Human Compassion"
  :Cosm "Any"
  :Prereq "Beta Clearance, Human, Charisma 8+"
  :type "HUMAN"
  :description
  "The character’s Charisma attribute increases +1."}
 {:name "Human Spirit"
  :Cosm "Any"
  :Prereq "Beta Clearance, Human, Strong-Willed"
  :type "HUMAN"
  :description
  "Once per act, an Outstanding result of a Defeat
roll means the character isn’t KOed, and instead
recovers 2 Shock and may keep acting."}
 {:name "Lead from the Front"
  :Cosm "Any"
  :Prereq "Spirit 8+, at least one other Leadership
Perk"
  :type "LEADERSHIP"
  :description
  "The hero’s steady nerves and seeming disdain for
the enemy inspire those around him. If not already
Vulnerable or Very Vulnerable, he may become
Very Vulnerable instead of spending a Possibility
to activate any Leadership perk."}
 {:name "Not on My Watch"
  :Cosm "Any"
  :Prereq "Charisma 8+, at least three adds in find"
  :type "LEADERSHIP"
  :description
  "Some leaders can see trouble coming and draft a
plan to react accordingly. When a new Drama Card
is revealed, the character may spend a Possibility
to eliminate the effects of the opposite Conflict
Line. Positive effects like Flurry, Inspiration, and
Up are eliminated. The friendly Conflict Line is
completely unaffected."}
 {:name "Intense Training"
  :Cosm "Any"
  :Prereq "Beta Clearance, Charisma 8+, a follower
from any source"
  :type "LEADERSHIP"
  :description
  "One of the character’s Followers gains a +1 bonus
to one Attribute, a +3 bonus to one Skill, a +2 bonus
to another skill, a +1 bonus to a third skill, and
one Perk. This Perk may be purchased more than
once, but each time it must be applied to a different
Follower."}
 {:name "Cosm Adaptation"
  :Cosm "Any"
  :Prereq "Beta Clearance and Realm Runner 
OR Gamma Clearance"
  :type "PROWESS"
  :description
  "The Storm Knight has adapted to an
aspect of another cosm, either through
high levels of training and exposure
or a transforming experience. Choose
one Perk category normally limited to
a specific Cosm. The character may
purchase Perks from that group
as through she met the cosm
prerequisite."}
 {:name "Shake it Off"
  :Cosm "Any"
  :Prereq "Beta Clearance, Endurance"
  :type "PROWESS"
  :description
  "When the character uses a
Recovery Action, she regains
the normal 2 Shock, plus Shock
equal to the result of a Bonus Die roll.
Note that a Recovery Action is only
possible when there isn’t a condition
such as hunger, or an extreme
environment, that prevents Shock
restoration."}
 {:name "Killshot"
  :Cosm "Any"
  :Prereq "Double Tap"
  :type "PROWESS"
  :description
  "On an attack where Double Tap
was applied, roll the Bonus Dice for
damage (if any) two separate times
and apply the larger result."}
 {:name "Guns Blazing"
  :Cosm "Any"
  :Prereq "At least three adds in fire
combat"
  :type "PROWESS"
  :description
  "The character has strong fire-discipline
and great control of weapon overheating
and other issues that can arise during
sustained fire. Reduce the extended Malfunction
range from any use of Rapid Fire with fire combat
by one, down to a minimum of 1. This includes
using the Two Weapons modifier. A roll of 1 still
causes a Malfunction as usual, and Malfunction
ranges from other modifiers are not affected."}
 {:name "Quick"
  :Cosm "Any"
  :Prereq "Beta Clearance, Dexterity 8+"
  :type "PROWESS"
  :description
  "The Storm Knight is extremely quick on her feet.
She may move up to her Dexterity x2 meters each
turn, or up to Dexterity x5 meters per turn if using
an Action to run."}
 {:name "Racer"
  :Cosm "Any"
  :Prereq "Beta Clearance, at least three adds
in land vehicles"
  :type "PROWESS"
  :description
  "During a Chase where the Storm Knight is
driving a land vehicle, he treats every
Drama Card as if it had Step A printed
on it."}
 {:name "Drive Defensively"
  :Cosm "Any"
  :Prereq "Beta Clearance, at
least five adds in land vehicles"
  :type "PROWESS"
  :description
  "The Storm Knight may
attempt to Soak damage done
to a land vehicle he’s driving.
The reality test to Soak suffers a
–2 penalty if the vehicle is Large and
a –4 if it’s Very Large, and another –1
penalty for each other passenger inside
the vehicle."}
 {:name "Ace Pilot"
  :Cosm "Any"
  :Prereq "Beta Clearance, at least five
adds in air vehicles"
  :type "PROWESS"
  :description
  "The Storm Knight may attempt to
Soak damage done to an air vehicle
she’s flying. The reality test to Soak
suffers a –2 penalty if the vehicle is
Large and a –4 if it’s Very Large, and
another –1 penalty for each other
passenger inside the vehicle."}
 {:name "Acrobatic"
  :Cosm "Any"
  :Prereq "Beta Clearance, at least five
adds in dodge"
  :type "PROWESS"
  :description
  "Each time an attack or maneuver interaction
misses the Storm Knight, she may move 2 meters.
She does not become Vulnerable if this movement
takes her out of contact with an opponent."}
 {:name "Duck and Weave"
  :Cosm "Any"
  :Prereq "Beta Clearance, at least five adds in
maneuver"
  :type "PROWESS"
  :description
  "The Storm Knight may now move through
enemies. She may not end her movement in the
same space as a standard or Large opponent, but
she may occupy the same space as a Very Large
opponent. Leaving contact with a foe makes the
character Vulnerable as usual."}
 {:name "Detached Strategist"
  :Cosm "Any"
  :Prereq "Beta Clearance, Situational Awareness"
  :type "PROWESS"
  :description
  "Even in the heat of the moment this Storm Knight’s
keen mind for planning remains unclouded. When
Playing for the Critical Moment any unused
Destiny Cards remain in the player’s Action Pool
and aren’t discarded."}
 {:name "Elusive"
  :Cosm "Core Earth"
  :Prereq "Beta Clearance, Tenacious"
  :type "REALITY"
  :description
  "The Storm Knight is hard to touch with words,
bullets, fists, or anything else. She may wait until
she sees the result of an attack or interaction attack
that targets her before declaring the use of an
Active Defense. More, if she’s already had a turn
she may still use an Active Defense at the cost of
her next available turn."}
 {:name "Realm-Dancer"
  :Cosm "Core Earth"
  :Prereq "Beta Clearance, Realm-Runner"
  :type "REALITY"
  :description
  "The character ignores his first Disconnection in
each scene. Any subsequent Disconnections within
the same scene function as normal."}
 {:name "Longshot"
  :Cosm "Core Earth"
  :Prereq "Beta Clearance"
  :type "REALITY"
  :description
  "The hero is so connected to
Core Earth that the Law of
the Underdog applies to
him even in other realms. So
long as he’s outnumbered
or at a disadvantage (GM’s
call) he may play a Destiny
card into his Action Pool at
the beginning of combat.
This doesn’t stack if the Law
of the Underdog is already
in effect, but it does stack
with Surprise."}
 {:name "Nullify"
  :Cosm "Core Earth"
  :Prereq "Beta Clearance, Negation"
  :type "REALITY"
  :description
  "When an enemy attempts
to spend a Possibility to
activate a Perk or Special
Ability, the Storm Knight
may spend one of her own to
instantly negate it. This is a
free action she can perform,
so long as she’s aware of the
rival’s action.
Nullify may not be used to stop a foe from Soaking
Wounds with Possibilities."}
 {:name "Sense Stela"
  :Cosm "Core Earth"
  :Prereq "Beta Clearance, at least five adds in
reality"
  :type "REALITY"
  :description
  "The Storm Knight has become attuned to stelae and
can now sense one when it’s within one kilometer.
This is automatic. The character senses the exact
direction of the stela but not the distance. It’s
possible to triangulate the position of a stela with
a map and two “readings” at least one kilometer
apart by making a Very Hard (DN 16) science
or survival test. A third reading at least another
kilometer away drops the difficulty to Easy (DN 8).
Note that Dimthread Trees and Nightmare Trees
both count as stelae for purposes of this ability.
This Perk is available to reality-rated characters
outside of Core Earth."}
 {:name "Create Focus"
  :Cosm "Core Earth"
  :Prereq "Beta Clearance, at least five adds in
reality"
  :type "REALITY"
  :description
  "The reality-rated character may imbue one small
object with a connection to her own Cosm. The
object should have some significance within the
cosm it reflects. A baseball card might work for Core
Earth, while a tooth or claw may be appropriate for
the Living Land, an amulet for Aysle, and so on.
The Focus takes half a day and one Possibility
to create. It must be created in a space where the
character’s reality is Dominant or Pure. When the
Focus is created the character may spend up to
three Possibilities to “charge” it, and it works one
day for each Possibility spent. The item may also
charge on its own over time, one day for every day
of charge.
Possession of a Focus grants a +4 bonus on an
attempt to Reconnect. An Ord with a Focus may
operate normally in an enemy Dominant or Pure
Zone, similar to being under the effect of a Talisman
(see Torg Eternity), but a Focus only affects the
individual carrying it.
Special: This Perk is available to any reality-rated
character, including those from outside of Core
Earth. The character may only create a Focus for
his own reality."}
 {:name "First Response"
  :Cosm "Any"
  :Prereq "At least three adds in first aid"
  :type "SOCIAL"
  :description
  "Use an action and attempt a first aid test against
any KOed character. This test suffers the target’s
Wound penalties in addition to any other modifiers.
If the test succeeds the target regains consciousness
and recovers 1 Shock. A Good Success increases
the recovery to 2 Shock, and an Outstanding
Success restores 3 Shock. Note that any Wounds
and Injuries still apply."}
 {:name "Pep Talk"
  :Cosm "Any"
  :Prereq "Beta Clearance, Helper, at least three
adds in persuasion"
  :type "SOCIAL"
  :description
  "The Storm Knight can inspire others to do their
best. He uses an action and tests persuasion against
the target’s Spirit. On a success, the target gains a +1
bonus to her next test. On a Good Success the bonus
increases to +2, and on an Outstanding Success the
test also becomes Favored. This bonus only applies
to the next test the target attempts, and is lost if not
used before the Storm Knight’s next turn."}
 {:name "Clear the Room"
  :Cosm "Any"
  :Prereq "Beta Clearance, at least five adds in
intimidation"
  :type "SOCIAL"
  :description
  "When Intimidation is an Approved Action, the
Multi-Target penalties for intimidation interaction
attacks are halved (–1 per additional target instead
of the usual –2.)"}
 {:name "Trash Talker"
  :Cosm "Any"
  :Prereq "Beta Clearance, at least five adds in
taunt"
  :type "SOCIAL"
  :description
  "When Taunt is an Approved Action, the Multi-
Target penalties for taunt interaction attacks are
halved (–1 per additional target instead of the
usual –2.)"}]