[{:name "Alarm"
  "Axiom Level" 11
  :Skill "Divination 8"
  "Casting Time" "1 minute"
  :DN "Standard (DN 10)"
  :Range "Self"
  :Duration "1 day"
  :description "Alarm creates an immobile and invisible 10 -meter
diameter circle around the wizard who also
whispers a password while casting. If anyone
without the proper password enters the area the
spell emits a warning in the wizard’s voice that
continues until someone speaks the password or
it expires. This makes surprise attacks impossible.
The wizard’s warning may be as loud as he can
generate with his own voice.
Success Levels:
• Good: If the wizard chooses Duration is
increased up to one week and the circle may
be expanded to 100 meters.
• Outstanding: As Good the alarm can be silent
if the wizard chooses and he knows if it’s
been triggered no matter how far away he is."}
 {:name "Armor"
  "Axiom Level" 14
  :Skill "Alteration 12"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "Touch"
  :Duration "Concentration"
  :description "Armor infuses the caster’s skin (or an ally's if
desired) with protective energies that grants her
Armor +1 . This is one of the most common spells
among Delphi Council mages due to the constant
danger they find themselves in.
Success Levels:
• Good: The spell provides +2 Armor.
• Outstanding: The spell provides +3 Armor."}
 {:name "Bullet"
  "Axiom Level" 8
  :Skill "Apportation 12"
  "Casting Time" "1 action"
  :DN "Targets dodge or Dexterity"
  :Range "100 meters"
  :Duration " Instant"
  :description " This spell hurls a small but dangerous projectile,
such as a slug of metal or a coin at a target for 13
damage. The magician makes the motion of hurling,
flicking slinging or propelling the projectile at the
target then releases it at his foe. The apportation
total must exceed the Dexterity or dodge of the target
character in order to hit.
There is no penalty for Range but all other
modifiers (and options such as Multi-Targeting)
for attacks are figured normally.
Success Levels:
• Good: Damage +1 BD.
• Outstanding: Damage +2 BD."}
 {:name "Detect Magic"
  "Axiom Level" 6
  :Skill " Divination 8"
  "Casting Time" "1 action"
  :DN " Standard (DN 10)"
  :Range "25 meters"
  :Duration " Concentration"
  :description
  "The caster sees a faint outline or aura around
anything under the effects of magic: enchanted
objects people with spells on them and even
mages maintaining spells on others. A Standard
success detects the presence of any magic within
range and the type of magic (alteration, apportation,
conjuration, or divination) involved in each aura.
Success Levels:
• Good: The range of detection increases to 50
meters. If the spellcaster responsible for an
effect is also within Range subtle bands of
energy connect him to the target of the spell.
• Outstanding: As a Good success plus the
exact spell or enchantment generating each
aura is revealed. If the caster chooses to
dispel any of the detected effects her dispel
magic test is Favored as long as she maintains
Concentration on detect magic."}
 {:name "Diminish"
  "Axiom Level" 10
  :Skill "Alteration 12"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Spirit"
  :Range "40 meters"
  :Duration "3 rounds"
  :description "Diminish reduces one of the opponent’s attributes
(chosen when the spell is cast) and related skills by
−2. Separate castings may affect multiple attributes.
Spellcasters mime an action related to the affected
attribute while casting—sneering to reduce Spirit,
pretending to stumble if reducing Dexterity etc.
Reducing Strength or Spirit does not reduce
Toughness or Shock.
Success Levels:
• Good: The penalty is increased to −4.
• Outstanding: As Good and the target cannot
roll again on 20 s when using the affected
attribute and all its related skills."}
 {:name "Disguise"
  "Axiom Level" 12
  :Skill "Alteration 12"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "Touch"
  :Duration "10 minutes"
  :description "Disguise gives a caster (or an ally if desired) the
physical appearance of another including clothing,
weapons and other normal accessories. Items
created as part of the disguise are useless beyond
looking the part.
The disguise may copy a specific person if the
caster has seen him or her (or a high-quality
painting or photo) . Disguise only covers the physical
appearance of the target—interaction may still
require persuasion tests or the like.
The disguised individual stays the same mass,
but can appear as a different gender ethnicity or
even race (such as an elf or a dwarf) . Once the spell
is cast the mage no longer needs to be within range
to maintain it.
Success Levels:
• Good: The Duration is increased to
Concentration.
• Outstanding: The disguise mimics the target’s
voice as well. It doesn’t grant the target new
languages however!"}
 {:name "Dispel Magic"
  "Axiom Level" 9
  :Skill "Alteration 10"
  "Casting Time" "1 action"
  :DN "The caster’s willpower or Spirit"
  :Range "25 meters"
  :Duration "Instant"
  :description " Dispel magic ends one or more spell effects
currently affecting a target. It works only on
cast spells—not magic items relics or other
enchanted devices.
To dispel the caster chooses one or more targets
(using the Multi-Target option) and makes her
alteration roll. A Standard success ends one spell’s
effects on that target (caster’s choice) .
Dispel magic must be used on the recipient of a
spell—not the person who actually cast it. It still
uses the original caster’s willpower or Spirit however.
Success Levels:
• Good: The effects of two spells on the target
end.
• Outstanding: The effects of all spells on the
target end."}
 {:name "Electromagnetic Pulse (EMP)"
  "Axiom Level" 14
  :Skill "Conjuration 12"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "50 meters"
  :Duration "Instant"
  :description "EMP was developed by the rebels of the
Cyberpapacy to thwart Malraux’s ubiquitous agents.
The spell channels a wave of electromagnetic energy
into the target playing havoc and potentially frying
any electronics.
All electronic or electric devices carried by the
target are disabled for a round. Nile Empire
Weird Science devices may be affected at the
GM’s discretion.
Success Levels:
• Good: All electronic devices are disabled for
one minute.
• Outstanding: The devices are disabled for the
duration of the Scene."}
 {:name "Enhance"
  "Axiom Level" 10
  :Skill "Alteration 12"
  "Casting Time" "1 action"
  :DN "Target’s attribute"
  :Range "40 meters"
  :Duration "3 rounds"
  :description "This spell enhances a single attribute of the caster
or an ally by +1 . Multiple allies may be enhanced at
the same time so long as all are within range and
the caster uses the Multi-Target option. The DN is
the attribute to be affected—the better someone’s
ability the harder it is to improve on it. Different
attributes may be increased with separate castings.
If the caster increases Strength or Spirit it does
not increase Toughness or Shock.
Mages pantomime some aspect of the attribute
to be increased while casting—cracking their
knuckles to improve Dexterity flexing their muscles
to enhance Strength and so on.
Success Levels:
• Good: The attribute is enhanced by +2 .
• Outstanding: The attribute is enhanced by +3 ."}
 {:name "Fear"
  "Axiom Level" 10
  :Skill "Alteration 10"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Spirit"
  :Range "50 meters"
  :Duration "Instant"
  :description "The fear spell creates a wave of terror affecting
enemies within a Large Blast (see Area Effect, page
122) . Affected targets become Stymied. Note that
as an Area Effect attack there’s no Multi-Targeting
penalty but also no option to add extra targets.
Targets immune to fear effects are also immune
to this spell.
Success Levels:
• Good: Affected targets become Very Stymied.
• Outstanding: Affected targets become Very
Stymied and suffer 2 Shock."}
 {:name "Fireball"
  "Axiom Level" 14
  :Skill "Conjuration 14"
  "Casting Time" "1 action"
  :DN "Target’s dodge or Dexterity"
  :Range "50 meters"
  :Duration "Instant"
  :description "Fireball conjures a sphere of white-hot magical
flame. The caster shapes and controls the fireball,
then hurls it at his target where it explodes in a
Medium Blast Radius for 14 fire damage (see
Fire, page 136) .
There is no penalty for Range and this is a single
ball of fire no Multi-Targeting is available.
Success Levels:
• Good: Damage +1 BD.
• Outstanding: Damage +2 BD."}
 {:name "Fly"
  "Axiom Level" 14
  :Skill "Apportation 14"
  "Casting Time" " 1 action"
  :DN " Challenging (DN 12)"
  :Range "Self"
  :Duration "Concentration"
  :description "While this spell does not allow a mage to soar
like a hawk it does provide slow if reliable flight
for a short while. Once cast the wizard may fly
at a maximum speed of 50 meters per round.
Flying more than Dexterity meters counts as
running (page 114) .
The mage may haul whatever weight she could
normally carry. A heavy load drops the maximum
speed by half and causes the flier 1 Shock each round.
Success Levels:
• Good: The caster may move maximum speed
without suffering a –2.
• Outstanding: The caster’s maximum speed is
increased to 100 meters per round."}
 {:name "Gain Language"
  "Axiom Level" 10
  :Skill "Divination 8"
  "Casting Time" "1 minute"
  :DN "Easy (DN 8)"
  :Range "Touch"
  :Duration "Concentration"
  :description "Gain language allows the wizard to read write,
and speak any language she chooses as if she had
+1 add in the language skill.
Success Levels:
• Good: +2 skill adds instead.
• Outstanding: +3 skill adds instead."}
 {:name "Haste"
  "Axiom Level" 10
  :Skill "Alteration 14"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "Touch"
  :Duration "3 rounds"
  :description "Haste increases the ability of the target to
maximize his actions effectively letting him do or
concentrate on more things at once. The recipient
ignores the first two points of Multi-Action
penalties and can perform three simple actions each
round instead of two.
Success Levels:
• Good: The Duration increases to one minute.
• Outstanding: As Good plus the recipient
ignores the first four points of Multi-Action
penalties."}
 {:name "Invisibility"
  "Axiom Level" 17
  :Skill "Alteration 14"
  "Casting Time" "1 action"
  :DN "Challenging (DN 12)"
  :Range "Self"
  :Duration "Concentration"
  :description "Invisibility not only protects a mage from angry
foes but is also useful for spies and saboteurs. This
spell makes the wizard and anything she carries at
the time of casting barely visible. If an item leaves
her person it becomes visible.
Once invisible she adds +2 to stealth and
once spotted attacks against her are made at −2.
Invisibility only affects sight so creatures that don’t
rely on sight aren’t affected. Similarly getting wet,
walking across a loud surface or hit with a visible
marker of some kind might negate the spell’s
benefits (GM’s call) .
Invisibility doesn’t stack with other visibility
penalties—take the highest available.
Success Levels:
• Good: The stealth bonus increases to +4 and
the penalty to hit becomes –4.
• Outstanding: The stealth bonus increases to
+6 and the penalty to hit becomes –6."}
 {:name "Lightning"
  "Axiom Level" 14
  :Skill "Conjuration 14"
  "Casting Time" "1 actions"
  :DN "Target’s dodge or Dexterity"
  :Range "100 meters"
  :Duration "Instant"
  :description "This powerful attack spell calls forth a bolt of
lightning strong enough to harm even the great
dragons of Aysle. The damage of the bolt is 16 and
it ignores 4 points of armor. This spell may not use
the Multi-Target option.
Success Levels:
• Good: Damage +1 BD.
• Outstanding: +2 BD."}
 {:name "Mage Dark"
  "Axiom Level" 13
  :Skill "Conjuration 10"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "50 meters"
  :Duration "Concentration"
  :description "Mage dark fills a five-meter radius with total
darkness. Everything within the affected area is
shrouded in Pitch Black (–6) conditions.
If cast on an area of existing mage light it drowns
it out and consumes it.
See the Darkness penalties on page 122 for
more information.
Success Levels:
• Good: Radius of 10 meters.
• Outstanding: Characters who normally
ignore darkness penalties are affected as well."}
 {:name "Mage Hands"
  "Axiom Level" 9
  :Skill "Apportation 12"
  "Casting Time" "1 action"
  :DN " Standard (DN 10) or a target’s dodge or Dexterity"
  :Range "25 meters"
  :Duration "Concentration"
  :description
  "The wizard can manipulate items as if she had
a pair of invisible hands that can reach up to 25
meters distant. The hands are extensions of her
own—her real hands must be free as she makes
appropriate hand motions and she can’t lift herself
any more easily than she could with her own hands.
The hands’ Strength is equal to her Spirit but
they use her skills. If her hands wield a sword for
example she uses her melee combat as usual.
Success Levels:
• Good: The hands’ Strength is equal to her
Spirit +1.
• Outstanding: The hands’ Strength is equal to
her Spirit +2."}
 {:name "Mage Light"
  "Axiom Level" 13
  :Skill "Conjuration 8"
  "Casting Time" "1 action"
  :DN "Easy (DN 8)"
  :Range "50 meters"
  :Duration "Concentration"
  :description "The converse of mage dark mage light fills a fivemeter radius with bright scintillating light. All
darkness penalties within the radius are negated,
including any existing instances of mage dark.
Any characters or creatures who were in Dark or
Pitch Black conditions prior to casting are dazzled
and automatically Stymied.
Success Levels:
• Good: Radius of 10 meters.
• Outstanding: Dazzled victims are Very
Stymied."}
 {:name "Open Lock"
  "Axiom Level" 8
  :Skill "Apportation 10"
  "Casting Time" "1 action"
  :DN "Easy (DN 8)"
  :Range "Touch"
  :Duration "Instant"
  :description
  "Merchants and others with riches to protect
detest this simple spell. It works on normal or
electronic locks. With it and sufficient skill a mage
may open any lock with up to a −4 penalty (see
Lockpicking, page 80) .
Success Levels:
• Good: Opens heavy or electronic locks with
a penalty up to –6.
• Outstanding: Opens any lock silently and
avoids any alarms or wards placed on it.
Note that some very powerful “seals“ are not
necessarily “locks “ however."}


 {:name "Pathfinder"
  "Axiom Level:" 7
  :Skill "Divination 12"
  "Casting Time" "1 minute"
  :DN "Standard (DN 10)"
  :Range "50 meters"
  :Duration "Concentration"
  :description "Pathfinder allows a magician to sense the direction
and distance to an object location or being. The
success level determines the spell’s maximum
range of detection.
Success Levels:
• Good: Range of 500 meters.
• Outstanding: Range of 1 kilometer."}
 {:name "Portal"
  "Axiom Level" 14
  :Skill "Apportation 14"
  "Casting Time" "1 action"
  :DN "Hard (DN 14)"
  :Range "50 meters"
  :Duration "Instant"
  :description "With a brisk incantation and a broad gesture the
mage opens two connected portals. One appears
right next to the caster and the other anywhere
within 50 meters. Whatever enters one portal
emerges from the other in the same instant.
The portals only exist for a few seconds before
disappearing.
Portal has applications for both movement and
combat. The caster may simply add 50 meters to
his movement when using the spell. If used in a
chase it allows the mage to gain steps using the
apportation skill rather than Dexterity. A failure
to achieve the spell's DN counts as a failure for
backlash regardless of the DN to gain a step.
In combat the caster may use a Multi-Action to
reach through and attack a foe adjacent to the other
portal. The connection goes both ways: a grappled
enemy may be pulled back through to the caster's
side or a waiting opponent may strike through the
portal back at the caster on the other side. The portal
closes once the current side finishes their actions.
Success Levels:
• Good: Thanks to excellent timing adjacent
allies may also move through the portal or
attack adjacent foes. Waiting enemies can't
attack through the portal.
• Outstanding: The portal appears in exactly
the right spot. Attacks against a target adjacent
to the other end gain a +4 bonus for catching
the foe Flat-Footed."}
 {:name "Possibility Rend"
  "Axiom Level" 15
  :Skill "Divination 14"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Spirit"
  :Range "Touch"
  :Duration "Instant"
  :description "The rare offensive use of divination this spell scans
through a single target’s possible futures and
destroys them!
The game effect is to drain a reality-rated target
of 1 Possibility. An Ord disconnects and counts as
drained of all Possibility Energy. This spell may
not Multi-Target.
Success Levels:
• Good: The target is also Stymied or
Vulnerable caster’s choice.
• Outstanding: As a Good result and a realityrated target loses 2 Possibilities."}
 {:name "Possibility Shadows"
  "Axiom Level" 15
  :Skill "Divination 16"
  "Casting Time" "1 minute"
  :DN "Challenging (DN 12)"
  :Range "Touch"
  :Duration "5 minutes"
  :description "Possibility shadows allows a caster to ask reality
itself a question. To do so he must first cast a deep
shadow on a surface concentrate on a question or
topic for one minute and finally invoke the spell.
If successful his shadow (or another’s if casting
for someone else) takes on a life of its own forming
other objects creatures or individuals and reveals
a vague clue about the chosen topic.
Of course the future isn’t set so the information
granted is a “best guess“ (as determined by the
GM) and is likely to change based on other events.
Once conjured the shadow does not appear to
the same conjurer again this scene.
Success Levels:
• Good: The shadow answers two questions.
• Outstanding: The shadow answers three
questions."}

 {:name "Protective Circle"
  "Axiom Level" 9
  :Skill "Alteration 8"
  "Casting Time" "1 minute"
  :DN "Challenging (DN 12)"
  :Range "A two-meter diameter circle"
  :Duration " Concentration or when the circle is
crossed or broken"
  :description
  "Occultists in Orrorsh and treacherous thralls in
Tharkold make frequent use of this spell when
dealing with the deadly demons of their cosms.
To employ a protective circle the caster draws a
visible one-meter-radius circle in chalk blood salt,
or other material then embellishes it with arcane
runes. Once drawn and for as long as the caster
maintains Concentration supernatural beings
may not cross the border. They may speak and
otherwise interact across the border normally but
any supernatural powers (such as spells or special
abilties) suffer a –2 penalty.
If another force or being breaks the circle’s drawn
boundary the spell ends.
Success Levels:
• Good: The penalty is increased to –4.
• Outstanding: The being’s supernatural
abilities cannot cross the boundary."}


 {:name "Scrambler"
  "Axiom Level" 9
  :Skill "Alteration 10"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "50-meter radius"
  :Duration "10 minutes"
  :description
  "Used primarily in the watchdog regime of the
Cyberpapacy scrambler obscures everyone
in the affected area from all security and
surveillance systems.
Captured video and voices become blurry and
unidentifiable to such devices and targeting
bonuses from smart ammunition and augmented
reality HUDs are negated.
Success Levels:
• Good: The Range is increased to a 100 -meter
radius.
• Outstanding: The caster’s video and voice are
completely erased and the diration increases
to an last hour."}

 {:name "Scry"
  "Axiom Level" 8
  :Skill "Divination 12"
  "Casting Time" "1 minute"
  :DN "Target’s willpower or Spirit"
  :Range "500 kilometers"
  :Duration "Concentration"
  :description
  "Scry allows a prying caster to peek in on a subject
from afar. This spell targets a single person and
requires a vestige of that individual—fingernail
clippings a lock of hair a vial of blood etc.—in
order to work. Without such materials the spell
automatically fails. Those with secrets to protect
closely guard or destroy such residue.
A Standard success grants a view of the target
from directly above. The mage sees and hears
anything within five meters but nothing outside
that range is visible or audible. Thus it may not be
clear exactly where the target is located only what
he is currently doing. Anyone viewed or heard by
the spell intuitively feels that he’s being watched,
but isn’t certain how.
Success Levels:
• Good: The observable area increases to 25
meters.
• Outstanding: The target viewed and heard is
no longer aware of being observed."}

 {:name "Shield"
  "Axiom Level" 14
  :Skill "Conjuration 12"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "Self"
  :Duration "Concentration"
  :description "The shield spell helps Storm Knight spellcasters
survive their battles with the High Lords’ minions.
A successful casting adds +1 to all the caster’s
physical defenses (dodge, melee combat, and unarmed
combat) . The bonus follows normal Stacking rules,
so a shield spell cast on a character with a real shield
gets whichever bonus is best.
Success Levels:
• Good: The bonus is increased to +2 .
• Outstanding: The bonus is increased to +3 ."}
 {:name "Slow"
  "Axiom Level" 10
  :Skill "Alteration 12"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Spirit"
  :Range "20 meters"
  :Duration "3 rounds"
  :description "Slow decreases a living being’s speed and makes
it more difficult for him to do multiple things at
once. The caster points at his target in slow motion.
The target’s Speed is decreased by 25 % and
the target is Stymied. Speed refers to the target’s
personal walking running climbing swimming,
or flying speed. Slow doesn’t affect machines or
devices of any type.
Success Levels:
• Good: Speed is decreased by 50 % and the
target may not run.
• Outstanding: Speed is decreased by 75 %
and the target loses his next turn (he might
get another via a Flurry or similar ability,
however) ."}
 {:name "Speak with Dead"
  "Axiom Level" 12
  :Skill "Divination 14"
  "Casting Time" "1 minute"
  :DN "Standard (DN 10)"
  :Range "Touch"
  :Duration "5 minutes"
  :description "To cast this loathsome spell the occultist
manipulates the corpse’s jaws while beseeching the
spirit that once resided inside to speak. The spirit
retains its former consciousness–it knows it’s dead,
may refuse to speak is subject to persuasion etc.
A particular corpse may only be questioned
once per scene.
Success Levels:
• Good: The corpse may only speak the truth,
but may still refuse to answer.
• Outstanding: The corpse must answer
any questions truthfully to the best of its
knowledge."}
 {:name "Stun"
  "Axiom Level" 12
  :Skill "Alteration 12"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Spirit"
  :Range "50 meters"
  :Duration "Instant"
  :description "A wave of arcane energy overwhelms a group of
foes. It affects everyone within a Large Blast area
(see page 122) . This is an Area Affect spell and
may not Multi-Target.
Any target affected becomes Very Stymied. Stun
only works on living beings so undead constructs,
or animated objects are unaffected.
Success Levels:
• Good: Affected targets may not move on their
next turn.
• Outstanding: Affected targets lose their entire
next turn."}]