[{:name "Alter Memory"
  "Axiom Level" 23
  :Skill "Telepathy 14"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Mind"
  :Range " 10 meters"
  :Duration "Permanent"
  :description "Worse than reading an unwilling target’s mind is
rearranging the memories inside. Most psis use it to
make a guard forget they saw them or even remove
a traumatic incident from a battle-scarred mind.
A Standard success can alter memories from
within the last five minutes. Additional successes
can affect earlier thoughts (see below) .
The psi can implant false memories as well but
if an event is implausible the victim gets a new
chance to resist by making a willpower or Mind test
against the psi’s telepathy. If successful he sees the
implanted memory for what it is. This may only be
attempted once per memory.
See restoration to recover altered memories.
Success Levels:
• Good: The psi can alter memories from the
last hour.
• Outstanding: The psi can alter memories
from the last week."}


 {:name "Awareness"
  "Axiom Level" 19
  :Skill "Precognition 8"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "10-meter radius"
  :Duration "Concentration"
  :description "Awareness senses strong impressions of future
danger increasing her and her allies’ defenses
while she maintains concentration. A success
adds +1 to the psi’s physical defenses and those
of all her companions in range. It does not increase
interaction defenses.
Success Levels:
• Good: The allies’ physical defenses are
increased by +2 .
• Outstanding: As a Good result plus the
Range is increased to 20 meters."}



 {:name "Clairvoyance"
  "Axiom Level" 23
  :Skill "Telepathy 12"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Mind"
  :Range "100 kilometers"
  :Duration "Concentration"
  :description "Clairvoyance allows a psychic to see through
another’s eyes. The psi must have line of sight to
the target when the power is activated but doesn’t
need visibility to maintain the connection. With a
standard success the victim knows she’s being
observed. Those unfamiliar with psionics may not
understand that there’s a voyeur in their minds but
definitely know they’re being observed.
• Good: The psi can hear through the target’s
ears.
• Outstanding: The target doesn’t realize the
power is active."}




 {:name "Clarity"
  "Axiom Level" 23
  :Skill "Telepathy 10"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Mind"
  :Range "5 meters"
  :Duration "Instant"
  :description "Clarity removes all harmful psionic influences
from a subject effectively acting as dispel magic for
psychic effects. It can be used to eject a clairvoyant
or mind controller clear confusion or restore
altered memories.
Success Levels:
• Good: The recipient’s willpower increases by
+2 for the next minute.
• Outstanding: The recipient’s willpower
increases by +4 for the next hour."}


 {:name "Cloud Mind"
  "Axiom Level" 23
  :Skill "Telepathy 12"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Mind"
  :Range "10 meters"
  :Duration "Concentration"
  :description "Much like the old Shadow character from the pulp
serials a psi with this ability can alter others’
brainwaves so that she is essentially invisible.
Once activated the character is unseen to the
target or targets as long as she remains silent or
doesn’t otherwise attract attention.
Anyone with reason to believe a hidden individual
is present may make a willpower or Mind test as a
simple action to detect them. The DN is the psi’s
telepathy skill. If successful the psionicist becomes
visible to that particular target.
Success Levels:
• Good: Even if the psionicist is revealed,
affected targets suffer a −4 visibility penalty
against the character so long as the power is
maintained.
• Outstanding: The character cannot be seen
by affected targets even if they realize she’s
there. Attacks against her suffer a –6 penalty."}

 {:name "Confusion"
  "Axiom Level" 23
  :Skill "Telepathy 10"
  "Casting Time:" "1 action"
  :DN "Target’s willpower or Mind"
  :Range "50 meters"
  :Duration "3 rounds"
  :description "Confusion sends out a wave of psychic energy
that confounds foes. If successful the power affects
everyone within a Large Blast area who then suffer
a –1 penalty to all actions.
Success Levels:
• Good: Those affected suffer a −2 penalty.
• Outstanding: The victims are Vulnerable as
well."}


 {:name "Copycat"
  "Axiom Level" 23
  :Skill "Telepathy 10"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Mind"
  :Range "25 meters"
  :Duration "3 rounds"
  :description "When a psi needs to learn something in a hurry,
she can simply take it from someone else’s mind!
Copycat allows her to borrow a number of skill adds
from a target either willing or unwilling.
The psi must choose a target and the skill to be
copied before making her telepathy roll. If the target
doesn’t happen to have that skill there’s no effect.
A Standard success grants her one skill add and she
is no longer considered unskilled.
Success Levels:
• Good: The psi can copy up to 3 adds.
• Outstanding: The psi can copy up to 5 adds."}



 {:name "Energize"
  "Axiom Level" 20
  :Skill "Kinesis 10"
  "Casting Time" "1 action"
  :DN "Challenging (DN 12)"
  :Range "Self"
  :Duration "3 rounds"
  :description "The psi builds up psychic energy and channels
it through his nervous system granting him
increased Strength and Dexterity for the Duration
of the power.
This ability is highly taxing however. As soon
as the power ends the psi suffers 2 Shock and a −2
penalty to Strength and Dexterity for the next minute.
A Standard success increases Strength and
Dexterity by +1 .
Success Levels:
• Good: Strength and Dexterity increase +2 .
• Outstanding: Strength and Dexterity increase
+2 and the psionicist doesn’t suffer a penalty
after the duration ends."}


 {:name " Foreshadow"
  "Axiom Level" 21
  :Skill "Precognition 14"
  "Casting Time" "1 action"
  :DN "Very Hard (DN 16)"
  :Range "Self"
  :Duration "Instant"
  :description "The psychically sensitive witness constant possible
futures. Sorting through them in a world rich in
Possibilities is difficult but occasionally useful—
and life-saving—information can be gleaned.
If foreshadow is successful the psi may look at the
next three cards in the Drama Deck but may not
rearrange them.
Success Levels:
• Good: The character may look at and
rearrange the top three cards of the Drama
Deck.
• Outstanding: The character may look at and
rearrange the top three cards. He may also
discard one of them if he chooses."}


 {:name "Mind Sense"
  "Axiom Level" 21
  :Skill "Telepathy 10"
  "Casting Time" "1 action"
  :DN "Easy (DN 8)"
  :Range "50 meters"
  :Duration "Concentration"
  :description "Mind sense reveals the presence of any and all
sapient creatures within the psi’s range. A basic
success reveals the number of contacts and whether
they are of human or animal intelligence. Additional
successes increase the Range and the information
provided. Subjects don’t need to be within line of
sight only within range.
Success Levels:
• Good: Range of 100 meters and the subject’s
general status: excited passive or hostile.
• Outstanding: The subjects’ general intentions
or surface thoughts are detected as well. This
includes any psionic potential or activity."}
 {:name "Mend"
  "Axiom Level" 24
  :Skill "Kinesis 12"
  "Casting Time" "1 hour"
  :DN "Standard (DN 10)"
  :Range "Self"
  :Duration "Instant"
  :description "Psionics with this power can increase their
biological self-awareness to such a point that they
can actually heal injuries they’ve suffered.
An hour of rest and a successful test of kinesis
removes a Wound. If the test is failed or the psi
doesn’t heal all of her Wounds she may simply
try again though each test requires the full hour.
Success Levels:
• Good: The psi heals 2 Wounds.
• Outstanding: The psi heals 3 Wounds."}
 {:name "Mind Blast"
  "Axiom Level" 25
  :Skill "Telepathy 14"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Mind"
  :Range "50 meters"
  :Duration "Instant"
  :description "Those who specialize in kinesis are best known
for carnage and mayhem but telepaths are not
to be trifled with either. Mind blast casts a wave
of psychic energy at the psi’s foes that can stun
the weak-willed. The power is unaffected by
armor unless it has psychic protection somehow—
consider only the target’s basic Toughness.
Success causes 10 non-lethal damage.
Success Levels:
• Good: +1 BD damage.
• Outstanding: +2 BD damage."}
 {:name "Mind Control"
  "Axiom Level" 25
  :Skill "Telepathy 16"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Mind"
  :Range "50 meters"
  :Duration "Concentration"
  :description "Mind control is a sinister power that allows the
psionicist to inhabit and control another person’s
body. After establishing control the psi may use
her actions to move and act with the target’s body—
or both by using Multi-Actions. The victim may
be made to perform actions using his own skills
and abilities but may not be forced to spend
Possibilities.
A controlled target must sacrifice an entire turn
to attempt to break free—he may take no other
actions whether he’s successful or not. To break
free the target tests willpower or Mind against the
psionicist’s telepathy skill. If successful the psi’s
Concentration is broken and the power ends.
Once a victim breaks free she may not be subject
to any other mind control for the rest of the scene.
Success Levels:
• Good: The target suffers a −1 penalty on
attempts to break free.
• Outstanding: The target suffers a –2 penalty
on attempts to break free."}

 {:name "Psychic Shield"
  "Axiom Level" 23
  :Skill "Telepathy 10"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "Self"
  :Duration "Concentration"
  :description "Psychic shield protects the psi and anyone else he
chooses within a five-meter radius from psionic
attacks. Psionic abilities attempting to affect the
shielded minds suffer a –2 penalty.
Psychic shield only works against direct attacks or
effects such as pyrokinesis or mind blast. It cannot
stop a bench thrown with telekinesis from harming
someone inside but it does protect them from
being grabbed by telekinesis itself.
Success Levels:
• Good: The penalty is increased to –4.
• Outstanding: The penalty is increased to –6."}


 {:name "Psychometry"
  "Axiom Level" 22
  :Skill "Precognition 12"
  "Casting Time" "1 minute"
  :DN "Standard (DN 10)"
  :Range "Touch"
  :Duration "Concentration"
  :description "The psychic can read strong emotions or mental
images that cling to an object. She must handle
the object and concentrate for a minute to get any
impressions at all.
On a Standard success the psionicist sees images
of how the object was generally used in the past.
Note that this provides the combination for keypads
or safes and shows an unfamiliar psi how to use
otherwise alien devices.
• Good: The psi sees images of any unusual or
intense uses of the object especially crimes.
• Outstanding: The psi gains a clear picture of all
the object’s notable owners and how each used it."}


 {:name "Pyrokinesis"
  "Axiom Level" 22
  :Skill "Kinesis 12"
  "Casting Time" "1 action"
  :DN "Target’s dodge or Dexterity"
  :Range "25 meters"
  :Duration "Instant"
  :description "“Firestarters“ cause the very air itself to burst into
flame and can channel it into destructive blasts.
The attack doesn’t suffer any Range penalties,
but concealment Multi-Targeting and the like are
considered normally. If the kinesis total equals or
exceeds the target’s dodge or Dexterity he’s hit for
14 fire damage.
Success Levels:
• Good: +1 BD damage.
• Outstanding: +2 BD damage."}

 {:name "Read Mind"
  "Axiom Level" 23
  :Skill "Telepathy 10"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Mind"
  :Range "50 meters"
  :Duration "1 minute"
  :description "All psis consider this an intrusive power and a
violation of sentient rights. Whether one actually
cares about that or not is another matter and of
course some Storm Knights may feel they have no
choice in the most dire situations.
A Standard success detects surface thoughts
and emotions but the target knows something is
happening. If he’s familiar with psionic powers he
knows his thoughts are being read.
Success Levels:
• Good: Important memories are detected and
the target doesn’t know he’s being scanned.
• Outstanding: The target’s mind is an open
book. If the target doesn’t know something,
however due to a repressed memory or even
brain damage the psi only picks up that
something is missing."}


 {:name "Strangle"
  "Axiom Level" 22
  :Skill "Kinesis 14"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Mind"
  :Range "50 meters"
  :Duration "Concentration"
  :description "Invisible but deadly strangle is a frightening
technique where a telekinetic squeezes blood
vessels or organs inside a foe.
Victims of the attack suffer 2 Shock.
Success Levels:
• Good: The attack causes 3 Shock.
• Outstanding: The attack causes 4 Shock and
the target is Stymied."}


 {:name "Telekinesis"
  "Axiom Level" 23
  :Skill "Kinesis 10"
  "Casting Time" "1 action"
  :DN "Easy (DN 8)"
  :Range "25 meters"
  :Duration "Concentration"
  :description "Telekinesis allows a psi to move things with her
mind. The psi’s Mind is her Strength once activated,
but she continues to use her own skills as usual.
A psi can use telekinesis to “fly“ at her walking
speed assuming her effective “strength“ is
high enough to carry her own weight. The
psi may also “run“ while levitating herself
at the usual –2 penalty to all other actions.
Success Levels:
• Good: Range of 50 meters and add +2
to the power’s effective Strength.
• Outstanding: Range of 50 meters
and add +4 to the power’s
effective Strength."}

 {:name "Telekinetic Barrier"
  "Axiom Level" 23
  :Skill "Kinesis 12"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "Self"
  :Duration "Concentration"
  :description "The psionicist wards off incoming
attacks with a barrier of raw
telekinetic energy.
Successful activation adds +1 to all the
caster’s defenses (dodge, melee, combat, and
unarmed combat) . The bonus follows normal
Stacking rules so a character with an actual
shield inside a telekinetic barrier benefits only
from whichever is highest.
Success Levels:
• Good: The bonus is increased to +2 .
• Outstanding: The bonus is increased to +3 ."}


 {:name "Telepathy"
  "Axiom Level" 22
  :Skill "Telepathy 8"
  "Casting Time" "1 action"
  :DN "Easy (DN 8)"
  :Range "1 kilometer"
  :Duration "Concentration"
  :description "Sending and receiving thoughts is considered
the most basic power of any officially trained
psi such as those who work for Core Earth’s
government agencies.
A Standard success allows the psi to keep up
to four other minds in contact as long as she
continues to concentrate. It may not use the MultiTarget option.
The psi must be able to see those she wants to
contact if they are unfamiliar to her.
Unconscious characters cannot be reached.
If the target is unwilling to be contacted
via telepathy the DN is his willpower or
Mind instead. Even if communication is
established with an unwilling target,
it doesn’t allow the psi to read
thoughts only to communicate and
hear thoughts intentionally projected
by the target.
Success Levels:
• Good: The psi can connect up
to 10 minds (including her own) .
• Outstanding: The psi can
connect up to 20 minds (including
her own) ."}]