[{:name "GWI Ehud Dagger", :description "This power dagger is\ncommonly used by cyberknights who may require\nan easily concealed weapon on clandestine\nmissions.", :Tech 24, :Damage "+2", :Price "220 (11)", :Notes "Armor Piercing 1, Small"} {:name "GWI GodHammer", :description "Although uncommon, this\ndouble-headed power maul is occasionally used\nby Inquisitors. Internal gyroscopes allow it to be\nused easily despite the apparent imbalance caused\nby the large head.", :Tech 26, :Damage "+5", :Price "300 (12)", :Notes "Stagger, Two Handed"} {:name "GWI Sword of David", :description "Also called a power sword,\nthis longsword is a favored weapon of Inquisitors\nand Hospitalers.", :Tech 24, :Damage "+4", :Price "300 (12)", :Notes "Armor Piercing 2"}]