[{:name "Bolster Will"
  "Axiom Level" 12
  :Skill "Alteration 10"
  "Casting Time" "1 minute"
  :DN "Standard (DN 10)"
  :Range "Touch"
  :Duration "10 minutes"
  :description 
  "This spell may only be attempted once per day.
Interrogation is a common occurrence in the
Cyberpapacy, although this mostly occurs during
interactions with Church Police at checkpoints
or investigating reports of heretical activity,
occasionally people are interrogated in a more
thorough manner, possibly even in the GodNet.
Bolster will girds the recipient against interrogation,
whether by mundane means or through the use of
miracles, spells, or psionic or pulp powers.
On a success, the target’s willpower and intimidation
defenses gain a +2 bonus and willpower tests are
Favored.
Success Levels:
• Good: The duration increases to 24 hours.
• Outstanding: As Good and tests that target
the character’s willpower or intimidation are
Disfavored."}
 {:name "Calling the Quarters"
  "Axiom Level" 7
  :Skill "Apportation 8"
  "Casting Time" "10 minutes"
  :DN "Standard (DN 10)"
  :Range "Self"
  :Duration "Until the next sunrise"
  :description "Calling the Quarters may only be attempted once
per day.
White Magic typically involves casting rituals to
prepare for a future problem as opposed to casting
them in the heat of the moment. White magic spells
involve the use of spirits to protect or enhance
allies, or harry opponents, and this spell puts the
call out to the various elemental spirits to come to
the witch’s aid.
Traditionally, the elemental spirits are associated
with of earth, air, fire, and water, which are
associated with the cardinal directions of north,
east, south, and west. Depending on the local
geography this can be altered.
On a success, one spirit remains with the witch
and assists her until the next sunrise. Choose one
of the following effects:
• Demon Shield: Spirits protect the witch from
attempted demonic possession. Each spirit
protecting the witch reduces the backlash taken
by one (with a minimum of one).
• Spiritual Aid: A spirit assists the witch in
casting spells. Choose a magic skill. Attempts
to cast spells using that skill are Favored.
• Harass: An angry spirit harasses the witch’s
enemies. Taunt and intimidation attacks are
Favored.
• Defend: A spirit interferes with attacks against
the witch. All attacks targeting the witch take a
–2 penalty.
Success Levels:
• Good: Two spirits assist the witch.
• Outstanding: Three spirits assist the witch."}
 {:name "Cast Out"
  "Axiom Level" 14
  :Skill "Alteration 12"
  "Casting Time" "1 round"
  :DN "Target controller’s willpower or Spirit"
  :Range "Touch"
  :Duration "Instant"
  :description 
  "Cast out ends the temporary control or possession
of a person via a supernatural force (spells,
miracles, or psionic or pulp powers). The control
can be in the form of demon possession, a Babel
Monitor inhabiting a SpiritChip, mind control, etc.
If the target is permanently possessed he must be
freed through an exorcism (see page 24).
Cast out may only be cast on a single target, once
per scene, and the target’s controller may make an
Active Defense if able.
Success Levels:
• Good: The target is immune to any sort of
possession or control for the rest of the scene.
• Outstanding: As Good and the controller takes
a Wound."}
 {:name "Create Node"
  "Axiom Level" 12
  :Skill "Apportation 10"
  "Casting Time" "1 round"
  :DN "Standard (DN 10)"
  :Range "Touch"
  :Duration "Instant"
  :description 
  "This spell activates transfer or exit nodes in the
GodNet. The witch touches an object in the GodNet
and speaks programmatical code. When the spell
takes effect, she and any others touching the object
are transported to that new GodNet sector if she is
creating a transfer node, or back to their physical
bodies if she is creating an exit node.
Casting this spell can be done as part of a Dramatic
Skill Resolution to bug out (see page 70) and can be
done instead of the test to create an exit node.
Success Levels:
• Good: The tracking test is Hard (DN 14).
• Outstanding: The trace cannot be tracked at all."}
 {:name "Cyberharmony"
  "Axiom Level" 12
  :Skill "Alteration 10"
  "Casting Time" "1 minute"
  :DN "Standard (DN 10)"
  :Range "Self"
  :Duration "24 hours"
  :description 
  "The cyberwitch intones programming statements
while motioning with her fingers as if typing on
a virtual keyboard. Cyberharmony attunes the
cyberwitch to Tech Constructs and improves
her connection to cyberware. On a success the
witch may use sanctioned gear keyed to specific
individuals without penalty (see page 74), and she
may make taunt or intimidation attacks against Tech
Constructs who are otherwise immune.
This spell may only be attempted once per day.
Success Levels:
• Good: The cyberwitch’s interaction attacks
against Tech Constructs are Favored.
• Outstanding: As Good and once while this
spell is active, the cyberwitch may take an
action and make a computer test against a single
hostile Tech Construct’s willpower. On a success
it stops attacking, but will become hostile again
if attacked by the witch or any of her allies. If
the Tech Construct is reality-rated, the test is a
contest instead."}
 {:name "Electromagnetic Blast"
  "Axiom Level" 14
  :Skill "Conjuration 14"
  "Casting Time" "1 round"
  :DN "Target’s dodge or Dexterity"
  :Range "Self"
  :Duration "Instant"
  :description "Prerequisite: Beta Clearance, electromagnetic pulse
spell
Electromagnetic blast is an amped up version
of EMP, capable of overcoming hardened and
shielded electronics found in cyberware and
threats like robots, GodNet entities, and other Tech
Constructs.
To cast, the witch channels energy into her,
releasing it at the end of the round. A burst of
electromagnetic energy emanates from the caster
in a Large Blast Radius out to a maximum of 5
meters. The caster is not affected by this blast. On
a success, affected targets have their electronics
disrupted and become Stymied and Vulnerable.
Additionally, all electronic devices within 5 meters
are shut down for one minute (GM’s discretion).
Special: This spell has no effect on targets that
don’t possess cyberware, Occultech, or internal
electronics.
Success Levels:
• Good: The target becomes Very Stymied and
Very Vulnerable.
• Outstanding: The target’s cyberware shuts
down for the rest of the scene. Tech Constructs
shut down for the rest of the scene. A reality-
rated Tech construct can spend a Possibility
and a make a reality test. A success downgrades
the effect to Good."}
 {:name "Hack Construct"
  "Axiom Level" 14
  :Skill "Alteration 14"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Spirit"
  :Range "10 meters"
  :Duration "Concentration"
  :description 
  "Casting this spell allows the cyberwitch to
disorient or temporarily take control of a single
Tech Construct. If the target is reality-rated, the
casting is a contest. On a success the target is
Vulnerable.
Success Levels:
• Good: The cyberwitch takes control of the Tech
Construct, and may use her action to control it.
On the Tech Construct’s turn its only action is
to initiate a willpower contest against the caster.
If it succeeds, the hack is broken and the caster
cannot attempt this spell against it again until
the next scene.
• Outstanding: As Good but the cyberwitch
controls an Ord Tech Construct for the
remainder of the scene. Willpower tests against
a controlled reality-rated Tech Construct are
Favored for the rest of the scene."}
 {:name "Hack Security Feed"
  "Axiom Level" 9
  :Skill "Divination 12"
  "Casting Time" "1 minute"
  :DN "Standard (DN 10)"
  :Range "Touch"
  :Duration "10 minutes"
  :description 
  "Hack security feed allows the cyberwitch to quickly
and efficiently use a computer to access the security
feed (video, audio, etc) of a single security system
(either in the GodNet, a single building, etc.). Such
feeds are magically sent to her brain, including those
from drones, robots, and other Tech Constructs if
they are connected to the security system
The spellcaster may alter the feed as an action,
by making an alteration test. The test is based on
the system’s security, or if it is not listed, Standard
(DN 10). On a success, the feeds are cut until the
end of the scene or an opposing character repairs
the damage. On a Good Success, the feed loops,
but there is the possibility the loop will be noticed
(if a security guard succeeds at a find test). On an
Outstanding Success the loop is nearly flawless
and attempts to notice are Very Hard (–6).
Success Levels:
• Good: The duration increases to an hour.
• Outstanding: As Good and the alteration test to
spoof the feed is Favored."}
 {:name "Kill Machine"
  "Axiom Level" 14
  :Skill "Conjuration 12"
  "Casting Time" "1 action"
  :DN "Target’s dodge or Dexterity"
  :Range "10 meters"
  :Duration "Instant"
  :description "Kill machine is a spell intended to directly damage
and destroy robots, GodNet entities, and other
Tech Constructs. This spell also harms those
with cyberware, though to a more limited extent.
Against any other type of creature, this spell does
nothing.
The spellcaster points at a single target (no Multi-
Targeting) and acts like he is crushing an object
into a little ball. If the target is a Tech Construct,
the conjuration test is Favored. A beam of arcane
energy shoots out and a hit does 12 damage
(12+1BD damage against Tech Constructs) which
ignores armor.
Special: This spell has no effect on targets that
don’t possess cyberware, Occultech, or internal
electronics.
Success Levels:
• Good: 12+1BD damage, or 12+2BD damage
against Tech Constructs. Ignores armor.
• Outstanding: 12+2BD damage, or 12+3BD
damage against Tech Constructs. Ignores
armor."}
 {:name "Law of Return"
  "Axiom Level" 14
  :Skill "Conjuration 10"
  "Casting Time" "1 action"
  :DN "Target’s dodge or Dexterity"
  :Range "50 meters"
  :Duration "Concentration"
  :description "A principle white witches hold is that whatever
harm a person causes will be returned to that
person three times. In truth this rarely occurs, but
law of return can help ensure that it does.
On a success the white witch summons a
vengeance spirit which stalks the target. It does
not actually hamper the target’s action, but should
he make a physical attack with a spell, miracle,
psionic power, or any other ability, after that attack
is resolved, the spirit makes the same attack using
the same skill total against the attacker. Any success
results in the same effect or effects applying to the
target, and at the same Success Level (i.e. the same
damage total, any Stymied or Vulnerable results,
or any secondary conditions a spell or other ability
causes).
The target is aware of the consequences of any
violent action.
Only one of these spirits may be present in an area
at one time, so only one creature may be targeted
while this spell’s duration has not expired.
Success Levels:
• Good: + 1BD damage to any of the spirit's
attacks.
• Outstanding: + 2BD damage to any of the
spirit's attacks."}
 {:name "Lifehacker"
  "Axiom Level" 12
  :Skill "Alteration 10"
  "Casting Time" "1 minute"
  :DN "Standard (DN 10)"
  :Range "Self"
  :Duration "1 hour"
  :description
  "The lifehacker spell increases the productivity and
efficiency of tasks undertaken by the witch. On a
success the witch chooses one skill. For the duration
of the spell, tests using that skill that do not involve
harming another in any fashion are Favored. All
attacks and interaciton attacks are considered to
harm another.
This spell may be attempted only once per day.
Success Levels:
• Good: The duration increases to 12 hours.
• Outstanding: The duration increases to 24
hours. Additionally, the caster may declare a
single test be Up instead of Favored."}
 {:name "Lucky Charm"
  "Axiom Level" 12
  :Skill "Alteration 10"
  "Casting Time" "10 minutes"
  :DN "Standard (DN 10)"
  :Range "Touch"
  :Duration "24 hours but see below"
  :description "The white witch casts this spell on a small object,
like a gemstone or rabbit’s foot. This attracts a
spirit which accompanies the bearer and enhances
his luck, until it runs out.
On a success, while the spell is in effect, the
bearer’s tests are Favored until he fails at a test.
The spellcaster may only attempt to cast lucky
charm once per day, resetting at sunrise.
Success Levels:
• Good: As Standard, but the spell only ends if
the failed test’s final die roll is odd.
• Outstanding: As Good, but instead the bearer
rolls two dice instead of one, and takes the
highest (after resolving any re-rolls due to
rolling a 10 or 20). The spell ends if the test is
failed."}
 {:name "Portent"
  "Axiom Level" 10
  :Skill "Divination 12"
  "Casting Time" "1 action"
  :DN "Standard (DN 10)"
  :Range "Self"
  :Duration "Instant"
  :description 
  "The spellcaster thinks of a person, item, area, or
course of action and receives an indication about
the immediate fortune surrounding the situation.
Sometimes the flash of insight is so potent the
immediate future can even be altered slightly. On
a success, the magician may look at the top card on
the Drama deck and then return it to the top of the
deck.
Success Levels:
• Good: Two cards may be looked at and then
replaced in the same order.
• Outstanding: Two cards may be looked at
and then one must be discarded and the other
placed back on top of the Drama deck."}
 {:name "Repel Curse"
  "Axiom Level" 9
  :Skill "Alteration 12"
  "Casting Time" "1 action"
  :DN "Standard (10)"
  :Range "Touch"
  :Duration "1 scene"
  :description 
  "One curse on a person, location, or item is
suppressed for the duration.
Success Levels
• Good: Duration 1 act
• Outstanding: The curse is permanently removed."}
 {:name "Violence Hex"
  "Axiom Level" 10
  :Skill "Alteration 10"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Spirit"
  :Range "25 meters"
  :Duration "1 minute"
  :description "White witches believe fighting is a last resort to
solving disagreements, and this spell dampens
violence. This spell may only be cast on a target
that has made a physical attack (not an interaction
attack) in the last 10 minutes.
On a Standard success, the target takes a –2
penalty on any damage dealt by her.
Success Levels:
• Good: The target reduces all damage dealt by
1BD.
• Outstanding: The target halves all damage
dealt by her, rounded up."}]