[{:name "Balancing Act"
  "Axiom Level" 16
  :Skill "Faith 18"
  "Casting Time" "1 action"
  :DN "Heroic (18) but see below"
  :Range "Self"
  :Duration "1 scene or until used"
  :description
  "Prerequisite: Beta Clearance
   The priest gains the effects of one Darkness or
Light Perk. The miracle ends once the scene ends,
or a test is attempted using that Perk’s effects. The
priest can ask for a Perk for which he doesn’t meet
the prerequisites, but the invocation is at –2 for each
missing prerequisite. This miracle may not Multi-
Target. Also if the priest has any Light or Darkness
Perk (even if inactive), the test is Disfavored.
If the priest last used this miracle to receive a Light
Perk, invoking this miracle to receive a Light Perk
is at –6. If the priest last used this miracle to receive
a Darkness Perk, invoking this miracle to receive a
Darkness Perk is at –6.
This miracle can only be attempted once per scene,
and a Mishap deals additional Shock equal to the
total casting penalty.
Success Levels
• Good: The test that uses the acquired Perk is
Favored.
• Outstanding: As Good and this miracle may
be attempted again this scene."}
 {:name "Break Curse"
  "Axiom Level" 16
  :Skill "Faith 12"
  "Casting Time" "1 action"
  :DN "Standard (10)"
  :Range "Touch"
  :Duration "1 scene"
  :description
  "One curse on a person, location, or item is
suppressed for the duration.
Success Levels
• Good: Duration 1 act
• Outstanding: The curse is permanently
removed."}
 {:name "Break Storm"
  "Axiom Level" 16
  :Skill "Faith 16"
  "Casting Time" "1 round"
  :DN "Hard (14)"
  :Range "100 meters"
  :Duration "1 minute"
  :description
  "Prerequisite: Beta Clearance
   Natural storm activity within range dissipates.
The storm may continue to rage in the surrounding
area, but winds become light, seas become calm,
and lightning strikes stop within the miracle’s
range.
Tests involving spells, miracles, and other effects
which feature storms or lightning are Disfavored if
attempted within the miracle’s range.
Success Levels
• Good: Duration 1 hour and spells, miracles,
or other effects involving lightning cannot be
cast or activated at all.
• Outstanding: As Good and can even suppress
a natural or invoked reality storm."}
 {:name "Command Undead"
  "Axiom Level" 15
  :Skill "Faith 12"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Spirit"
  :Range "30 meters"
  :Duration "Concentration"
  :description
  "The invoker can issue a command to a Mindless
undead creature within range, which it will obey
to the best of its ability. When the command is
obeyed or rendered impossible, the undead makes
a willpower or Spirit test. On a success, the miracle
ends, otherwise the invoker can issue another
command.
Success Levels
• Good: Tests to end this miracle are Hard (DN
14).
• Outstanding: As Good, plus the duration
changes to the rest of the scene. This does not
prevent the undead from attempting to break
the miracle."}
 {:name "Doom"
  "Axiom Level" 13
  :Skill "Faith 14"
  "Casting Time" "1 action"
  :DN "Target’s faith or Spirit"
  :Range "50 meters"
  :Duration "3 rounds"
  :description
  "Prerequisite: Beta Clearance, curse miracle
   The target is Stymied or Vulnerable for the
duration.
Success Levels:
• Good: The target is Stymied and Vulnerable
for the duration.
• Outstanding: As Good and the next test
the character before the duration ends is
Disfavored."}
 {:name "Elmiir's Assistance"
  "Axiom Level" 18
  :Skill "Faith 18"
  "Casting Time" "1 action"
  :DN "Heroic (18)"
  :Range "Self"
  :Duration "1 round"
  :description
  "Prerequisites: Elf, Beta Clearance
  The invoker may use the faith skill for any one
test that does not involve a Multi-Target or Multi-
Action. This miracle may only be attempted once
per scene.
Success Levels:
• Good: The test may involve Multi-Target or
Multi-Actions (but not both).
• Outstanding: The test may involve both
Multi-Targets and Multi-Actions."}
 {:name "Penance"
  "Axiom Level" 17
  :Skill "Faith 14"
  "Casting Time" "1 action"
  :DN "Target’s faith or Spirit"
  :Range "25 meters"
  :Duration "Instant"
  :description
  "This miracle fails against a target with no Darkness
Perks. If the target has two or more Darkness Perks,
the faith test to cast this miracle is Favored. An
affected target takes damage value 13 that ignores
all armor.
Success Levels
• Good: +1BD damage
• Outstanding: +1BD damage plus another
BD for every two Darkness Perks the target
possesses (rounded up)."}
 {:name "Plague"
  "Axiom Level" 17
  :Skill "Faith 18"
  "Casting Time" "1 action"
  :DN "Disfavored vs. target’s willpower or Spirit"
  :Range "10 meters"
  :Duration "1 hour"
  :description
  "Prerequisites: Beta Clearance, sicken miracle
  This miracle can only be invoked on a living
sentient being and has two stages. In the first stage,
the target is Stymied for the duration. At the end of
each round, she can make a willpower or Spirit test
to end this stage and begin the second stage. If the
target does not begin the second stage, she takes 12
damage at the end of the duration.
In the second stage, when the target first comes
within 10 meters of a living creature other than the
caster and her allies, the other creature makes a
willpower or Spirit test. If it fails, the miracle takes
effect on it as though it had been the original target.
This stage lasts for the remaining duration of the
miracle, and all effects of Good or Outstanding
results apply to any subsequent victims infected
during this stage.
Targets immune to disease ignore this miracle’s
effects. The invoker may revoke this miracle before
the end of the duration, stopping the spread of the
plague and eliminating any effects which would be
suffered at the end of the second stage.
Success Levels
• Good: The target is Very Stymied during the
first stage.
• Outstanding: At the end of the second stage
the target suffers 1 Wound."}
 {:name "Shali's Blessing"
  "Axiom Level" 18
  :Skill "Faith 18"
  "Casting Time" "1 action"
  :DN "Target’s highest magic skill"
  :Range "Touch"
  :Duration "1 scene"
  :description
  "Prerequisite: Beta Clearance, at least one add in all
four magic skills
  This miracle may be attempted only once per
scene. On a success the target’s spellcasting tests
are Favored. If any target has no magic skills, the
miracle fails.
Success Levels:
• Good: In addition, the first time the target
rolls a 1 for a spellcasting test, ignore that test
and try again.
• Outstanding: As Good, plus all spell backlash
is reduced by 1."}
 {:name "Sicken"
  "Axiom Level" 15
  :Skill "Faith 12"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Spirit"
  :Range "Touch"
  :Duration "Concentration"
  :description
  "The target becomes Stymied until the miracle
ends.
Success Levels
• Good: The target becomes Very Stymied.
• Outstanding: As Good, plus the target takes
12 + 1BD damage that ignores armor when the
miracle ends."}
 {:name "Summon Storm"
  "Axiom Level" 16
  :Skill "Faith 14"
  "Casting Time" "1 action"
  :DN "Standard (10)"
  :Range "Self"
  :Duration "1 minute"
  :description
  "The area around the caster in a 100-meter radius
erupts in a storm. The storm moves with the
spellcaster but the spellcaster may end it at any
time.
Creatures (including the spellcaster) in the area
moving more than half their movement speed
must make a Strength test at the beginning of their
turn or be Stymied. Missile weapons and fire combat
attacks and attacks involving fire with the area are
Disfavored. Lightning based attacks are Favored.
Success Levels
• Good: At the end of each round a random
target in the area is hit by a lightning bolt
dealing 13 +1BD damage, AP 4 unless they
make a successful dodge test. A Mishap adds +1
BD damage.
• Outstanding: As Good but the lightning bolt
targets a random foe of the caster."}
 {:name "Treeskin"
  "Axiom Level" 10
  :Skill "Faith 12"
  "Casting Time" "1 action"
  :DN "Invoker’s Strength"
  :Range "Self"
  :Duration "3 rounds"
  :description
  "This miracle transforms the invoker’s skin to
wood. On a success she gains +2 Toughness but
becomes Vulnerable to fire attacks.
Success Levels:
• Good: As Standard but no longer Vulnerable
to fire attacks.
• Outstanding: As Good, and instead gains +3
Toughness."}
 {:name "Turn Undead"
  "Axiom Level" 12
  :Skill "Faith 10"
  "Casting Time" "1 action"
  :DN "Target’s willpower or Spirit"
  :Range "10 meters"
  :Duration "Concentration"
  :description
  "This miracle targets all undead within 10 meters
of the caster. This is an area effect miracle; no
Multi-Targeting applies. Each affected undead is
Very Stymied while it remains within 10 meters of
the caster. The miracle’s effect ends on a specific
undead once it is hit with an attack or interaction.
Success Levels
• Good: Mindless undead must rush directly
away from the invoker on their turns while
within range.
• Outstanding: As Good, plus the Mindless
undead take 14+1BD damage when initially
affected."}
 {:name "Ward Cold"
  "Axiom Level" 9
  :Skill "Faith 10"
  "Casting Time" "1 minute"
  :DN "Standard (10)"
  :Range "Touch"
  :Duration "24 hours"
  :description
  "This miracle may be invoked once per day. The
target is protected from natural cold up to –40°C
(–40°F)
  Success Levels
• Good: The target gains +5 Armor vs. ice
damage.
• Outstanding: +8 Armor vs. ice damage."}
 {:name "Ward Magic"
  "Axiom Level" 10
  :Skill "Faith 14"
  "Casting Time" "1 action"
  :DN "Standard (10)"
  :Range "Self"
  :Duration "Concentration"
  :description
  "Spells targeting the caster take a Challenging (-2)
penalty to affect her.
Success Levels
• Good: The penalty increases to Hard (-4).
• Outstanding: Spells targeting the caster,
including in an area of effect, are Disfavored."}
 {:name "Word of the Gods"
  "Axiom Level" 10
  :Skill "Faith 10"
  "Casting Time" "1 action"
  :DN "Standard (10)"
  :Range "Self"
  :Duration "Instant"
  :description
  "This miracle allows the caster to gain a flash of
insight. On a success, the Storm Knight gains a clue
or indicating the next course of action she should
take, or she may choose to make the Approved
Action of the Drama Deck “Any” just as if playing
an Idea card.
The gods do not like to be pestered, and so this
miracle may only be attempted once per day.
Success Levels:
• Good: The player may instead search for an
Idea card in the Destiny deck or discard, then
shuffle the deck afterward.
• Outstanding: As Good and the gods feel
gracious and the cleric may invoke this miracle
again."}]