[{:name "Silver Dagger", :description "Don’t leave home without it! The\nblade of unalloyed silver is easy to nick and dull in\nregular combat, but it’s a literal life-saver in close\ncombat with a lycanthrope or any other monster\nthat reacts badly to the pure metal.", :Tech 17, :Damage "+1", :Price "75 (9)", :Notes "Thrown, Range 10/20/30"} {:name "Cold Iron Blade", :description "Also sometimes called a\n“pure iron” sword. Thanks to the materials and\ntechniques used the blade affects ethereal beings.\nCold iron causes too much pain to such beings for\none of them to wield while ethereal!", :Tech 17, :Damage "+2", :Price "200 (11)", :Notes ""}]