[{:name "Drone Override Suit"
  :Cosm "Cyberpapacy"
  :type "CYBERWARE"
  :Prereq "None"
  :description
  "Normally a drone jockey commands her drone
mentally through a TSE Drone Controller, and it
obeys according to its programming.
The drone override suit allows the jockey to take
direct control of her drone, seeing through its eyes
(and any other senses), and making melee and
ranged attacks. The find, stealth, energy weapons, and
melee weapons skill used is the higher of hers or her
drone’s. Additionally, she may use any of her own
Prowess Perks to benefit the drone (e.g. Sniper).
She directs attacks physically by pointing at
what onlookers would say is nothing and
then motioning as if she was firing weapons or
swinging a blade.
   The override suit also allows the jockey to hack
drones of Tech 25 or lower by making a Challenging
(DN 12) computers test. A success allows the drone
jockey to inflict a Wound on the drone. A Good
Success inflicts 2 Wounds. An Outstanding Success
instead allows her to take control of the drone
herself.
The suit also provides Armor +2 protection, with
no Max Dex."}
 {:name "Drone Upgrades"
  :Cosm "Cyberpapacy"
  :type "CYBERWARE"
  :Prereq "TSE Drone Controller or
Drone Override Suit, and at least
one hardlight drone."
  :description
  "The drone jockey has written
custom code that increases the
capabilities of his drones. When
this Perk is selected, he may
choose two upgrades from the
following list:
• Electrical Feedback (Shield
Drone): If the drone (or
the person it is protecting if in
Bunker Mode) is hit by a melee
or unarmed attack (including
those involving spells, miracles,
psionic powers, etc.) redirected
towards it, the attacker takes
8+1BD damage.
• Evasive Mode (Scout Drone): The
scout drone gains a new mode:
Evasive. While in Evasive Mode, the
drone’s Active Defense rolls are Up.
• Forcefield Upgrade (Assault Drone):
The assault drone’s Armor increases
to +4.
• High-Powered Laser (Assault Drone):
The damage of the assault drone’s laser is
increased to 15.
• Light Bending Camouflage (Scout
Drone): Find tests to see the scout
drone have a –6 penalty when in Stealth
Mode. This penalty does not stack with
Darkness or Concealment.
• Mobile Bunker (Shield Drone): The shield
drone can move 6 while in Bunker Mode.
• Mass of Blades (Assault Drone): The drone’s
melee attacks gain a +2 bonus to hit.
• Regeneration Field (Shield Drone): At the end
of a scene, the shield drone heals 1 Wound.
• Remote Sensing (Scout Drone): The drone
gains the benefits of any sensory cyberware
implants its controller has installed.
• Sensitivity Upgrade (Scout Drone): Find and
tracking tests are Up when in Scout mode.
New Upgrades: This Perk may be selected
multiple times. Each time after the first, the Storm
Knight selects one additional upgrade."}
 {:name "Recalibrated Cyberware"
  :Cosm "Cyberpapacy"
  :type "CYBERWARE"
  :Prereq "None"
  :description
  "Natives of the Cyberpapacy benefit from the
Law of Sanction at least partially, which enhances
their body’s tolerance of cyberware. Those who
are not natives of the Cyberpapacy require
some additional software and hardware
modifications for installs to operate correctly.
A Storm Knight selecting this Perk may
install up to $8000 worth of cyberware
(though he does not have to install it all at
once). This cyberware causes contradictions
as normal. Remember this Perk can only be
selected once.
Special: This Perk may be selected by natives
of cosms other than the Cyberpapacy"}
 {:name "Custom Cyberdeck"
  :Cosm "Core Earth, Cyberpapacy, Pan-Pacifica,
Tharkold"
  :type "HACKER"
  :Prereq "At least three adds in computers."
  :description
  "While any nodder can grab themselves a
cyberdeck or set of TempTrodes and log into
the GodNet, long-lived deckers customize
their rigs’ hardware and install personalized
software that is specifically in tune with the
decker’s brainwaves—no other person can use
the cyberdeck.
Selecting this Perk grants the hero a customized
cyberdeck and the installation of a neural jack (see
page 31). The hero selects one of the cyberdecks in
   the Gear chapter, and learns the programs available
on the cyberdeck. Cyberdecks are Tech 26."}
 {:name "Program Upgrades"
  :Cosm "Core Earth, Cyberpapacy, Pan-Pacifica,
Tharkold"
  :type "HACKER"
  :Prereq "Custom Cyberdeck."
  :description
  "The hacker has spent some time tweaking and
optimizing the programs stored on her cyberdeck.
She may choose two programs she already knows
to upgrade."}
 {:name "Software Library"
  :Cosm "Core Earth, Cyberpapacy, Pan-Pacifica,
Tharkold"
  :type "HACKER"
  :Prereq "Custom Cyberdeck."
  :description
  "The decker acquires additional programs for her
cyberdeck, and learns four additional standard
programs. Additionally she increases the available
storage on her deck by two."}
 {:name "Invested Cyberpriest"
  :Cosm "Cyberpapacy"
  :type "FAITH"
  :Prereq "Cyberpapacy, Miracles, and Cyberware.
Cannot have Perks or access to miracle lists
related to other religions. Cannot have the
Champion of God Perk."
  :description
  "Although all cyberpriests are capable of invoking
miracles, some have been recognized, either by the
Church, or by God to be more pious than most, and
the cyberpriest learns two miracles and computer
empathy."}
 
 {:name "Champion of God"
  :Cosm "*Cyberpapacy"
  :type "FAITH"
  :Prereq "Cyberpapacy, at least three adds
in faith, and a follower of the Cyberpapacy
or Christianity. Cannot have the Invested
Cyberpriest Perk."
  :description
  "The hero is a warrior for their deity, either the
Christian or Cyberpapacy God, as described in
Ephesians 6:10-18. Commonly the Storm Knight is
a member of the Knights Templar (see page 122),
though this is not necessary. Hospitalers under the
command of the Cyberpapacy often have similar
gifts granted to them.
Selecting this Perk for the first time grants the
champion the Breastplate of Righteousness and
one additional option from the selections below.
The Breastplate is a holographic suit of plate mail
armor that can be manifested or deactivated as a
simple action. It has Max Dex 11 and provides +4
Armor. The champion’s gifts only function for him.
Additional Gifts: This Perk may be selected
multiple times for additional Gifts (though each
individual Gift can only be chosen once)."}
 {:name "Champion of God • Belt of Truth"
  :Cosm "*Cyberpapacy"
  :type "FAITH"
  :Prereq "Champion of God"
  :description
  "Grants a +1 bonus to defenses
against interaction attacks, and the DN ofmoving the hero against their will is the hero’s
Strength+10."}
 {:name "Champion of God • Gospel of Peace"
  :Cosm "*Cyberpapacy"
  :type "FAITH"
  :Prereq "Champion of God"
  :description
  "The Breastplate of
Righteousness’ Max Dex increases to 13."}
 {:name "Champion of God • Helmet of Justice"
  :Cosm "*Cyberpapacy"
  :type "FAITH"
  :Prereq "Champion of God"
  :description
  "The Breastplate of
Righteousness becomes Full Body Armor
and reduces the AP value of weapons hitting
the warrior by an amount equal to half the
character’s faith adds, rounded down."}
 {:name "Champion of God • Shield of Faith"
  :Cosm "*Cyberpapacy"
  :type "FAITH"
  :Prereq "Champion of God"
  :description
  "A hardlight medium shield
(see Shields in Torg Eternity) powered by the
champion’s faith. It also provides a +4 bonus
to dodge and melee defense vs. fire, heat and
energy weapon attacks.This does not stack with
the normal +2 bonus from medium shields."}
 {:name "Champion of God • Sword of the Spirit"
  :Cosm "*Cyberpapacy"
  :type "FAITH"
  :Prereq "Champion of God"
  :description
  "A longsword hilt that
lights up with a laser, powered by the faith
of the wielder. The Sword of the Spirit has
damage Strength +4 and has Armor Piercing
equal to half the cyberknight’s faith adds,
rounded up. The sword gains +2 damage
against supernaturally evil creatures like
undead and gospog.The sword has the Small
property when not activated."}
 {:name "Champion of God • Word of God"
  :Cosm "*Cyberpapacy"
  :type "FAITH"
  :Prereq "Champion of God"
  :description
  "The holy warrior gains access to
the God’s Champion miracle list and chooses
two miracles plus battle vigil from that list. This
Gift may be selected multiple times, each time
allowing an additional miracle to be selected
from the God’s Champion list."}
 {:name "Exorcist"
  :Cosm "Any"
  :type "FAITH"
  :Prereq "At least three adds in faith, at least one
add in scholar, and see below."
  :description
  "The miracle worker specializes in the exorcising
of spirits, demons, and other supernatural agents
who have possessed or otherwise taken control
of a person, place, or object. If a character is being
temporarily controlled by another through magic,
miracle, psionic power, pulp power, or any other
supernatural ability, the exorcist may invoke
banish against a single target to end that control
immediately (opposed by the controller’s willpower
or Spirit), even if the priest does not know the banish
miracle or have the required skill. If the priest does
know banish, the invocation is Favored. Invoking
banish in this manner has a range of Touch.
On a Good Success the target is immune to any
such control again until the end of the scene. If the
   faithful gets an Outstanding Success, the controller
takes a Wound as well.
If a supernatural agent has permanently possessed
the target, it must instead be exorcised (see sidebar)
The exorcist must have access to the banish miracle
in this circumstance."}
 {:name "Zealous"
  :Cosm "Cyberpapacy"
  :type "FAITH"
  :Prereq "Cyberpapacy, Beta Clearance, Spirit 8+."
  :description
  "The character’s Spirit attribute increases by +1."}
 {:name "Crackerjack"
  :Cosm "Any"
  :type "PROWESS"
  :Prereq "Cyberpapacy, Beta Clearance, and
Mind 8+."
  :description
  "The character’s Mind attribute increases by +1."}
 {:name "Neurodiverse"
  :Cosm "Any"
  :type "PROWESS"
  :Prereq "None"
  :description
  "Some people just think differently than most.
Even elves, dwarves, and edeinos have individuals
who could be considered neuroatypical. While this
can cause problems with reading social dynamics,
neurodiverse people can solve problems in creative
ways. Mind-based tests during Dramatic Skill
Resolutions are Favored. Also, choose one narrow
field of expertise related to the science or scholar
skill (e.g. planetary astronomy, French literature,
25or World War 2 history). All tests involving this
field are Up."}
 {:name "Disability"
  :Cosm "Any"
  :type "PROWESS"
  :Prereq "None"
  :description
  "Many members of the disabled community have
taken up the battle against the invading High
Lords, but nowhere is this more true than in the
Cyberpapacy. Many disabled people consider their
disability part of their identity, or they simply don’t
trust a theocratic organization (or any powerful
group) gaining access to their brain just to solve
their disability issue.
Choose a mental, social, or physical disability.
Once per act, you may invoke your disability
to complicate your life to gain 2 Possibilities.
Alternatively, the Gamemaster may suggest a
complication during play, and if you accept that
complication, gain 3 Possibilities.
Should you gain a Perk or other effect that negates
your Disability, you lose this Perk and select a new
one."}
 {:name "Glib Tongue"
  :Cosm "All"
  :type "SOCIAL"
  :Prereq "Mind 8+ and Charisma 8+."
  :description
  "When confronted by the Church Police, either on
the street or at a checkpoint, the ability to come
up with a plausible alibi or story is invaluable.
However, it’s not just the ability to come up with
a tight alibi that is important, but delivering it
convincingly is key as well.
When the hero needs to make up a story on the
fly, he tests Mind. On a success, any persuasion
or willpower tests to deceive someone or resist
interrogation with the story are Favored. A Good
Success additionally makes any opposing evidence
analysis or intimidation tests Disfavored. On an
Outstanding Success, the hero’s persuasion or
willpower is Up instead of Favored."}
 {:name "Lone Wolf"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Spellcaster and access to the Cyberwitch
spell list."
  :description
  "Cyberwitches tend to be loners. They have
a very specific method of doing things, and
often get frustrated when others do not follow
their instructions. However, their intuitive
understanding of magic and technology allows
them to do feats alone better than many teams.
When the cyberwitch attempts a computers or
magic skill test in a Dramatic Skill Resolution
without assistance, her test is Up.
A Combined Action with a cyberwitch have an
additional -4 penalty, and any attempts at Extra
Effort are Disfavored."}
 {:name "Familiar"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Spellcaster and access to either the White
Witch or Cyberwitch spell list."
  :description
  "Although perceived as pets by non-witches,
familiars are in fact spirits that assist witches in
the casting of spells and other witch abilities. The
exact form of these spirits can vary significantly.
White witches generally befriend animal
spirits, though more esoteric nature spirits are
common too. Cyberwitches are more likely to
befriend technological spirits which can manifest
holographically. A common tech spirit is a
bit, which can only speak yes or no, while
temporarily transforming its form between three
geometric states (one for each response, and a
resting state).
Familiars remain in close proximity to their
witch, but they instinctively avoid detection when
threatened and cannot be directly targeted. Although
they are magical beings, familiars bond so fully with
their witch, they are essentially treated as part of the
witch themselves, and contradictions are only based
on the witch herself. Wherever the witch is, the
familiar follows, whether the witch is individually
teleported or even logs into the GodNet.
No matter the form, these spirits are manifestations
of the eight Pagan virtues. The witch selects one
virtue from the list below and gains the associated
ability. They also learn two spells.
Witches who align with familiars are often referred
to according to their spirit (i.e. a Compassionate
witch, or a Strong witch)."}
 {:name "Familiar • Beauty"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Familiar"
  :description
  "The witch’s alteration and divination
skills are based on Charisma instead of Mind."}
 {:name "Familiar • Strength"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Familiar"
  :description
  "+1 bonus to Toughness. The Witch
only gains one additional spell instead of two."}
 {:name "Familiar • Power"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Familiar"
  :description
  "May re-roll one test per scene as if
Favored. This choice may be declared after the
first roll."}
 {:name "Familiar • Compassion"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Familiar"
  :description
  "Can exorcise (see page 24)
demons and other entities who have possessed
a victim. May cast the cast out spell, even if she
doesn’t have the required skill, but if cast out is
known, casting the spell is Favored."}
 {:name "Familiar • Honor"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Familiar"
  :description
  "Persuasion tests are Favored."}
 {:name "Familiar • Humility"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Familiar"
  :description
  "Up on Extra Effort tests. (See
Combined Action in Torg Eternity)"}
 {:name "Familiar • Mirth"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Familiar"
  :description
  "Concentration tests are Favored."}
 {:name "Familiar • Reverence"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Familiar"
  :description
  "Reality tests to reconnect are
Favored."}
 {:name "White Witch"
  :Cosm "Cyberpapacy"
  :type "SPELLCRAFT"
  :Prereq "Familiar, access to the White Witch spell
list, and cannot have any Perk related to the
Cyberpapacy faith, cyberware, or Occultech."
  :description
  "The white witch may lead a coven to cast a spell
with a casting time of 1 minute or longer. This entails
a Combined Action (with 3 to 13 participants) and
reality-rated characters who are Unskilled in the
magic skill may still assist or attempt Extra Effort
(see Combined Actions in Torg Eternity).
Additionally, the white witch attracts two more
spirits which inhabit her familiar, and may select
two additional virtues from the Familiar Perk."}]