[{:name "Amaatist Hem-Netjer"
  :Cosm "Nile Empire"
  :type "FAITH"
  :Prereq "Miracles, at least two adds in faith.
  The priest may not have Perks from a different
  religion."
  :description "The priest is particularly in tune with the Ennead,
and the gods and goddesses grant him additional
boons beyond those who are less devoted. The
invoker gets access to the Amaatist Hem-Netjer
miracle list on page 47 and may select two of
those miracles plus prophecy."}
 {:name "Mummy"
  :Cosm "Nile Empire"
  :type "FAITH"
  :Prereq "Must have died and been resurrected
by recall spirit (see page 47). If Perk selected at
character creation, the hero suffers an Injury."
  :description "This Perk is unusual in that it is granted when,
and only when, the character died, was properly
mummified, and then had his spirit returned to
his body through the invocation of recall spirit. The
character is no longer affected by poison, breathing,
eating, Fatigue, or other functions required by the
living. He is still affected by Shock, however."}
 {:name "Aerial Acrobat"
  :Cosm "Any"
  :type "PROWESS"
  :Prereq "At least two adds in air vehicles"
  :description "The character is exceptionally adept at
maneuvering in the air, either close to the ground
in slow flight, or while rocketing through the sky
in a dog fight with fighters. Air vehicles tests are
Favored, and can be used instead of maneuver as
an interaction attack, however this usage doesn’t
count as an Approved Action."}
 {:name "Ingenious"
  :Cosm "Any"
  :type "PROWESS"
  :Prereq "Mind 10+"
  :description "Not only is the hero incredibly smart, but she
knows how to use her brains in creative ways.
As a simple action, the character may spend a
Possibility to draw a Destiny card then take a Mind
test. On a success, she may immediately draw
another Destiny card and put it into any player's
hand. On a Good Success she may draw two cards,
and select one to put into any player's hand. On an
Outstanding Success she may instead draw three
cards, and select one."}
 {:name "Lethal Shot"
  :Cosm "Any"
  :type "PROWESS"
  :Prereq "Beta Clearance, Sniper, fire combat 15+,
missile weapons 15+, or energy weapons 15+"
  :description "The character is one of the best shots in the
world. If the sharpshooter fires an aimed ranged
weapon and hits with a Vital Blow, he may spend a
Possibility to reroll any or all bonus dice. He must
take the new results."}
 {:name "Just a Flesh Wound"
  :Cosm "Any"
  :type "PROWESS"
  :Prereq "Beta Clearance"
  :description "The hero has been around the block a few times,
and even when it seems she has suffered Wounds,
often they turned out to be merely a glancing blow.
Once, immediately after a combat ends, the hero
can spend a Possibility to recover 1 Wound."}
 {:name "Trap Master"
  :Cosm "Any"
  :type "PROWESS"
  :Prereq "At least one add in find, science, and
scholar"
  :description "The hero has a heightened awareness when a
trap is present, and how it is triggered. All tests
made by the hero or nearby allies to avoid a trap or
complete steps of a deathtrap are Favored."}
 {:name "Wheelman"
  :Cosm "Any"
  :type "PROWESS"
  :Prereq "At least two adds in land vehicles"
  :description "Driving backwards at high speeds, dodging in
and out of oncoming traffic, and generally being a
badass driver is all in a day's work for this character.
Land vehicles tests for stunts, completing steps of a
chase, and making an Active Defense while driving
are Favored."}
 {:name "Famous"
  :Cosm "Any"
  :type "SOCIAL"
  :Prereq "Charisma 8+"
  :description "Storied heroes may gain a reputation of being
honorable, true, and gracious. There’s just
something about them that makes people gosh
darn like them. Persuasion tests are Favored as long
as the character is open about his identity, and
once per act, the character may search the Destiny
deck or discard pile for a Connection card and add
it to his hand."}
 {:name "Astrologer"
  :Cosm "Nile Empire"
  :type "SPELLCRAFT"
  :Prereq "Nile Mathematician, knowledge of
contemplation or portent, and at least one add in
scholar."
  :description "Astrology is the ancient tradition of deciphering
the motions and placement of the planets amongst
the stars. The discoveries of ancient astrologers led
to the advancement of the Mathematics tradition.
The astrologer is trained to ascertain the influence
of different planets, which represent the members
of the Ennead, the Amaatist pantheon.
Each morning as the sun rises, the character may
consult his astrological charts to divine upcoming
events and make a scholar test. Depending on the
Success Level, the casting of divination based spells
on the Mathematics list (and only those spells) are
altered until the next sunrise.
• Mishap: Divination tests to cast Mathematics
spells are Very Stymied and Possibilities spent
on divination tests do not have a minimum
result of 10.
• Failure: Divination tests to cast Mathematics
spells are Stymied.
• Standard: Divination tests to cast Mathematics
spells are Favored.
• Good: No matter what the result of casting a
Mathematics spell is, the astrologer may reroll
the divination test (either to succeed or get a
better success) even on a Mishap. The second
test stands. This effect lasts until the next
sunrise.
• Outstanding: As Good but the astrologer is
Up when rerolling the divination test.
The scholar test may only be attempted once per
day."}
 {:name "Astrological Generalist"
  :Cosm "Nile Empire"
  :type "SPELLCRAFT"
  :Prereq "Nile Engineer or Nile Mathematician.
Cannot have any other Perk with Nile Engineer
or Nile Mathematician as a prereq."
  :description "Although separate arcane traditions, Mathematics
and Engineering have a common origin—astrology.
Some mathematicians and engineers are able to
translate the concepts of the other discipline into
terms they can understand. However, their jack-of-
all-trades nature prevents them from specializing
in either field.
The spellcaster gains access to the Mathematics or
Engineering spell lists, whichever one she doesn’t
already have (see page 33), and can select two
spells. Additionally, the hero may select Perks that
have Spellcaster as a prerequisite, unless the Perk
provides access to new spells.
The generalist may not select any other Perks that
have Nile Engineer or Nile Mathematician as a
prerequisite."}
 {:name "Gifted Numerologist"
  :Cosm "Nile Empire"
  :type "SPELLCRAFT"
  :Prereq "Nile Mathematician, at least three adds
in divination."
  :description "The spellcaster is uniquely talented in the study of
numbers, and can divine subtleties in the stars and
equations others cannot.
The mathematician gains two spells from the
Mathematics list on page 33 and may reroll
any result of 4 or 7 while casting a spell on the
Mathematics list."}
 {:name "Master Astrologer"
  :Cosm "Nile Empire"
  :type "SPELLCRAFT"
  :Prereq "Astrologer, at least five adds in
divination, and at least three adds in scholar."
  :description "The astrologer has discovered secrets in the skies
even experts in his field are unaware of. Not only
can he now study the future, but he can actively
alter the future of powerful people and interrogate
reality itself.
The astrologer learns the possibility rend and
possibility shadows spells, which are described in the
Magic chapter of Torg Eternity. Possibility rend and
possibility shadows are contradictory for characters
from the Nile Empire. The spell was discovered in
a place of power on Terra where the Magic Axiom
was locally 15.
Possibility rend and possibility shadows are not
considered Mathematics spells as far as the
Astrologer Perk is concerned."}
 {:name "Master Mason"
  :Cosm "Nile Empire"
  :type "SPELLCRAFT"
  :Prereq "Nile Engineer and at least three adds in
two of alteration, apporation, or divination."
  :description "Master masons are considered the most highly
qualified of the Engineers, and are held in high
regard by their peers.
The engineer may select two additional spells
from the Engineering List on page 33, and tests
to cast the neutralize traps spell are Favored."}
 {:name "Nile Engineer"
  :Cosm "Nile Empire"
  :type "SPELLCRAFT"
  :Prereq "At least one add in alteration,
apportation, or divination. The character
cannot have any other Spellcraft Perk
that grants access to another spell list."
  :description "Engineers have discovered the inner
workings of the universe’s structure
and have applied those lessons in the
construction of huge monuments
and grand buildings. The engineer
gains access to the Engineering
spell list on page 33, and may
select three of those spells.
New Spells: This Perk may be
taken more than once. Each time
after the first, the character learns an
additional spell from the Engineering
list."}
 {:name "Nile Mathematician"
  :Cosm "Nile Empire"
  :type "SPELLCRAFT"
  :Prereq "At least one add in
divination. The character cannot
have any other Spellcraft Perk that
grants access to another spell list."
  :description "Mathematicians have studied the
ancient arts of mathematics, allowing
them to (more or less) accurately predict
the future as well as utilize the harmony
of numbers and physics to create other
effects. The mathematician gains access to
the Mathematics spell list on page 33 and
may choose three spells from that list.
New Spells: This Perk may be taken more
than once. Each time after the first, the
character gains an additional spell from the
Mathematics list."}
 {:name "Pulp Sorcerer"
  :Cosm "Nile Empire"
  :type "SPELLCRAFT"
  :Prereq "Spellcaster. The character cannot have
the Nile Mathematician or Nile Engineer Perks."
  :description "Some sorcerers have pierced the veil of the
physical world and into the ethereal realm of
illusion and spirits. The sorcerer gains access to the
Pulp Sorcery spell list on page 33, and may select
two spells.
Although some neophyte sorcerers are capable
of subtlety, as they advance further they are
incapable of this, and spellcasters with this
Perk must yell the names of their spells
while casting them. Loudly. Very, very
loudly. Illusions are a noteable exception."}
 {:name "Supreme Sorcery"
  :Cosm "Nile Empire"
  :type "SPELLCRAFT"
  :Prereq "Beta Clearance, Pulp
Sorcerer, and at least 5 adds in alteration,
apportation, conjuration, or divination."
  :description "The pulp sorcerer has studied the
ancient tomes of arcana and has
reached the pinnacle of his craft. The
sorcerer may spend one Possibility
to know any single spell from either
the Nile Empire Sorcerer (see Torg
Eternity) or Pulp Sorcerer lists (see
page 33) for the remainder of the
scene. He must still meet the Skill
requirement."}
 {:name "Trap Maker"
  :Cosm "Nile Empire"
  :type "SPELLCRAFT"
  :Prereq "Nile Engineer and knowledge of magical trap or mechanical trap."
  :description "Some engineers are intuitively able to
complete the necessary calculations to
create traps with spells much quicker
than normal. However, these spells
are not nearly as long lasting as those
cast meticulously.
The engineer may cast magical trap and
mechanical trap in one action, but the
traps created only have a Duration of
Concentration."}]